{% extends "base.html" %}

{% block title %}SparkDrive – {{ path }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-start mb-3">
    <h2 class="me-3 mb-0">
    Folder:
        <a href="/folder?path=/">/</a>
        {% set ns = namespace(path='') %}
        {% for segment in path.strip('/').split('/') %}
        {% set ns.path = ns.path + '/' + segment %}
        ><a href="/folder?path={{ ns.path | urlencode }}">{{segment}}</a>
        {% endfor %}

        {% if path != '/' %}
        <a href="/delete?path={{ path | urlencode }}&return_to={{ request.path | urlencode }}?path={{ path | urlencode }}"
            class="btn btn-sm btn-outline-danger ms-2"
            onclick="return confirm('Delete this folder and its contents?')">✖</a>
        {% endif %}
    </h2>
    <div class="d-flex gap-2">
        <a href="/folder/view/icon?path={{ path | urlencode }}" class="btn btn-sm btn-outline-primary">🖼️ Switch to Icon View</a>
        <a href="/upload?path={{ path | urlencode }}" class="btn btn-sm btn-outline-primary">⬆️ Upload File</a>
        <a href="/newfolder?path={{ path | urlencode }}&return_to={{ request.path | urlencode }}?path={{ path | urlencode }}"
            class="btn btn-sm btn-outline-primary">New Folder</a>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mb-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<h4>Folders</h4>
<ul class="list-group mb-4">
    {% for folder in folders| sort(attribute='name') %}
    <li class="list-group-item">
        <a href="/folder?path={{ folder.path | urlencode }}">📁 {{ folder.name }}</a>
    </li>
    {% endfor %}
</ul>

<h4>Files</h4>
<ul class="list-group">
    {% for file in files | sort(attribute='filename')%}
    <li class="list-group-item">
        <a href="/download/{{ file.file_id }}">📄 {{ file.filename }}</a>
        <a href="/deletefile?file_id={{ file.file_id }}&return_to=/folder/view/icon?path={{ path | urlencode }}" class="trashcan"
            onclick="return confirm('Delete this file?')">🗑️</a>
        <small class="text-muted ms-2">
            <span class="text-muted ms-2 small">{{ file.size_bytes | filesizeformat }} • {{ file.uploaded_at }}</span>
        </small>
    </li>
    {% endfor %}
</ul>
{% endblock %}