{% extends "base.html" %}

{% block title %}SparkDrive – Icon View{% endblock %}

{% block content %}
<h2 class="mb-3 d-flex align-items-center">
    Folder: <code class="ms-1">{{ path }}</code>
    <div class="ms-auto d-flex gap-2">
        <a href="/folder?path={{ path }}" class="btn btn-sm btn-outline-primary">📋 Switch to List View</a>
        <a href="/upload?path={{ path }}" class="btn btn-sm btn-outline-primary">⬆️ Upload File</a>
        <a href="/newfolder?path={{ path }}&return_to={{ request.path }}?path={{ path }}"
            class="btn btn-sm btn-outline-primary">New Folder</a>
    </div>
</h2>

<h4>Folders</h4>
<div class="row row-cols-2 row-cols-md-4 g-4 mb-5">
    {% for folder in folders %}
    <div class="col text-center">
        <a href="/folder/view/icon?path={{ folder.path }}" class="text-decoration-none text-dark">
            <img src="/static/icons/folder.png" alt="Folder" width="48" height="48"><br>
            {{ folder.name }}
        </a>
    </div>
    {% endfor %}
</div>

<h4>Files</h4>
<div class="row row-cols-2 row-cols-md-4 g-4">
    {% for file in files %}
    <div class="col text-center">
        <a href="/download/{{ file.file_id }}" class="text-decoration-none text-dark">
            <img src="/static/icons/file.png" alt="File" width="48" height="48"><br>
            {{ file.filename }}
        </a>
    </div>
    {% endfor %}
</div>
<input type="hidden" name="return_to" value="{{ return_to }}">
{% endblock %}